body{
  background-color: rgb(208, 205, 205);
  display: flex;
  justify-content: center;
  align-items: center;
  }
.container {
  /* border: 2px solid; */
  min-height: 100vh;
  min-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.row {
  /* border: 2px solid; */
  background-color: aliceblue;
  min-height: 500px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 4px rgb(179, 177, 177);
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  margin-top: 50px;
  min-width: 10px;
}

.heading img {
  margin-top: 10px;
  margin-right: 10px;
  
  height: 150px;
  width: 400px;
  border-radius: 100%;
}



.survey-button {
  background-color: brown;
  margin: 5px;
  height: 50px;
  width: 200px;
  padding: 12px 0px;
  color: white;
  border-radius: 5px;
  margin-bottom: 30px;
}

.graydiv {
  background-color: darkgray !important;
  margin-bottom: 50px;
}

.tiny {
  margin: 10px 0px 0px 5px !important;
  background-color: brown !important;
  color: white !important;
  
}


.hide {
  visibility: hidden;
}
.disable {
  pointer-events: none;
}

.input-group {
  margin-bottom: 30px;
}

.ui.dropdown .menu > .item:hover {
  background-color: orange;
  color: white;
}
